main {
  display: flex;
  flex-direction: column;
}

.container {
  margin: 60px auto 50px auto;
  max-width: 1000px;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  height: 55px;
}

nav > ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

nav > ul > li {
  margin: auto, 0;
}

nav > ul > li > a,
nav > ul > li > a:visited {
  color: white;
  text-decoration: none;
}
